header {
  background-color: var(--black);
  color: var(--white);
  display: grid;
  grid-template-rows: 50px 30px;
  padding: 10px 20%;
}
header div {
  padding: 0 15px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
header .options{
  width: auto;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-evenly;
  border: 1px solid var(--no-color);
}
header a {
  text-decoration: none;
  color: var(--white);
}
header a:hover { color: var(--yellow) }

.login-signup {
  width: auto;
  display: flex;
  justify-content: space-around;
}
.login {
  font-weight: bold;
  padding-right: 10px;
}
.signup {
  font-weight: bold;
  background-color: var(--yellow);
  color: var(--black);
  padding: 5px 10px;
  border-radius: 13px;
}
.signup:hover {
  background-color: var(--white);
  color: var(--black);
}
.userLink {
  background-color: var(--red);
  background-position: center;
  background-size: cover;
  border: 1px solid var(--no-color);
  border-radius: 50%;
  cursor: pointer;
  height: 50px;
  width: 20px;
}
.userLink:hover {
  border: 1px solid var(--yellow);
}
.user-link-options {
  align-items: center;
  background-color: var(--true-white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 200px;
}
.user-link-options p {
  border-bottom: 1px solid var(--black-op);
  font-weight: bold;
  padding-bottom: 5px;
  text-align:center;
  width:100%;
}