/* REVIEW STATUS */
.review-status { text-align: center }
.review-with-stars {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.rating {
  background-color: var(--white);
  border-radius: 3px;
  padding: 5px 0;
  width: 100%;
}
.fill { color: var(--yellow) }
.blank { color: var(--black-op) }

/* REVIEW FORM */
form.review-form {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: center;
  margin-top: 5px;
  padding: 0;
}
form.review-form .review-input {
  align-items: center;
  display: flex;
  justify-content: space-evenly;
  margin: 0;
}
.userStars {
  width: auto;
  padding: 0 10px 0 10px;
}
.userStars i { cursor:pointer }
.userStars .blank:hover { color: var(--yellow-op) }
form.review-form button {
  align-self: flex-end;
  margin-right: 10px;
  width: 90px;
}

/* REVIEWS */
.reviews-container {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  padding-top: 5px;
}
.review {
  align-items: flex-start;
  background-color: var(--white);
  border-radius: 3px;
  display: flex;
  gap: 5px;
  justify-content: flex-start;
  padding: 5px;
  width: calc(100% - 10px);
}
.review-user-pic {
  background-color: var(--yellow);
  background-position: center;
  background-size: cover;
  border-radius: 50%;
  height: 50px;
  width: 50px;
}
.review-opts {
  align-items: center;
  display: flex;
  flex-direction: column;
  gap: 10px;
}
.review-user-opts {
  align-items: center;
  color:var(--black-op);
  display: flex;
  font-size: 1.25em;
  gap: 5px;
  justify-content: space-evenly;
}
.review-opts i { cursor: pointer }
.review-opts i:hover { color: var(--yellow-op) }
.review-contents {
  width: calc(100% - 50px);
}
.review-head {
  align-items: center;
  border-bottom: 1px solid var(--black-op);
  display: flex;
  justify-content: space-between;
  padding-right: 5px;
}
.small {font-size: .8em; color: var(--black-op)}