@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root {
  --yellow:     #ffbd00;
  --yellow-op:  #ffbd0088;
  --white:      #eeeeee;
  --true-white: #ffffff;
  --black:      #202020;
  --black-op:   #20202088;
  --red:        #880000;
  --red-op:     #88000088;
  --no-color:   #00000000;
  margin: 0;
  box-sizing: border-box;
}
body {
  margin: 0;
  width: 100%;
  background-color: var(--white);
  font-family: 'Raleway', sans-serif;
}
.modal {
  background-color: var(--true-white);
  display: flex;
  align-items: center;
  justify-content: center;
}
.popup-overlay {
  background: var(--black-op);
}