@import url('https://fonts.googleapis.com/css2?family=Raleway:wght@500&display=swap');

:root {
  --yellow:     #ffbd00;
  --white:      #eeeeee;
  --true-white: #ffffff;
  --black:      #202020;
  --red:        #880000;
  --no-color:   #00000000;
}
body {
  background-color: var(--white);
  margin: 0;
  box-sizing: border-box;
  font-family: 'Raleway', sans-serif;
}
