form {
  background-color: var(--true-white);
  margin: 0;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
}
form h2 { text-align: center;}
form div {
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px 0;
}
form div input, textarea {
  width: 100%;
  padding: 5px 13px;
  border: 1px solid var(--no-color);
  border-radius: 13px;
  background-color: var(--black);
  color: var(--white);
}
form div textarea {
  height: 300px;
  overflow: none;
}
form div input:focus {
  outline-color: var(--yellow);
}
form button {
  background-color: var(--yellow);
  border: 1px solid var(--no-color);
  border-radius: 13px;
  cursor: pointer;
  font-weight: bold;
  margin-top: 10px;
  padding: 5px 13px;
  transition: all 0.2s linear;
}
form button:hover {
  background-color: var(--true-white);
  border: 1px solid var(--yellow);
}
.errors {
  background-color: var(--red);
  border-radius: 5px;
  color: var(--white);
  display: flex;
  flex-direction: column;
}
.logout { 
  cursor: pointer;
  background-color: var(--white);
  border-radius: 3px;
  padding: 5px 0;
  text-align: center;
  width: 100%;
}
.logout:hover { color:var(--yellow) }

.new-picture {
  align-items: center;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
}
.new-picture input {
  width: 85%;
}
.pic-preview {
  background-color: var(--black);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 175px;
  width: 175px;
}


@media screen and (max-width: 1000px) {
  form {
    border-radius: 0;
    margin: 20px 0;
  }
}