form {
  background-color: var(--true-white);
  margin: 0;
  border-radius: 5px;
  padding: 0 10px 10px 10px;
  display: flex;
  flex-direction: column;
}
form h2 { text-align: center;}
form div {
  align-self: flex-end;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  margin:10px 0;
}
form div input, textarea {
  width: 100%;
  padding: 5px 13px;
  border: 1px solid var(--no-color);
  border-radius: 13px;
  background-color: var(--black);
  color: var(--white);
}
form div textarea {
  height: 300px;
  overflow: none;
}
form div input:focus {
  outline-color: var(--yellow);
}
form button {
  margin-top: 10px;
  padding: 5px 13px;
  border: 1px solid var(--true-white);
  border-radius: 13px;
  cursor: pointer;
  border: 1px solid var(--no-color);
  background-color: var(--yellow);
  font-weight: bold;
  transition: all 0.2s linear;
}
form button:hover {
  border: 1px solid var(--yellow);
  background-color: var(--true-white);
}
.errors {
  background-color: var(--red);
  border-radius: 5px;
  color: var(--white);
  display: flex;
  flex-direction: column;
}
.logout { cursor: pointer }
.logout:hover { color:var(--yellow) }


@media screen and (max-width: 1000px) {
  form {
    border-radius: 0;
    margin: 20px 0;
  }
}