.item-card {
  background-color: var(--true-white);
  border-radius: 5px;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 100%;
}
.item-info {
  padding: 5px 5px 0 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.item-card-img {
  width: 100%;
  height: 200px;
  background-color: var(--no-color);
  background-position: center;
  background-size: cover;
  border-radius: 0 0 5px 5px;
  border-top: 1px solid var(--white);
}

@media screen and (max-width: 1000px) {
  .item-card { border-radius: 0 }
  .item-card-img { border-radius: 0 }
}