.item-page {
  display: grid;
  grid-template-columns: 3fr 2fr;
  grid-gap: 5px;
  padding: 15px 15%;
}
.item-page-images-review, .item-page-info, .item-page-reviews {
  background-color: var(--true-white);
  border-radius: 10px;
  padding: 5px;
}

/* IMAGES */
.item-page-image-grid {
  align-items: center;
  display: grid;
  grid-template-columns: 1fr 10fr;
  grid-gap: 5px;
  grid-auto-flow: column;
  height: 100%;
  justify-content: stretch;
}
.images-on-deck {
  display: grid;
  grid-template-rows: repeat(7, 1fr);
  grid-gap: 5px;
}

.item-page-focused-image {
  height: 400px;
  width: 100%;
}
.item-page-image {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border: 1px solid var(--no-color);
  border-radius: 5px;
  cursor: pointer;
  filter: grayscale(50%);
  height: 50px;
  width: 100%;
  transition: all 0.2s linear;
}
.item-page-image:hover {
  border-color: var(--yellow);
  filter: grayscale(0%)
}
.focused {
  background-position: center;
  background-repeat: no-repeat;
  background-size: contain;
  border-radius: 5px;
  height: 100%;
  width: 100%;
}

/* REVIEWS */
.item-page-reviews {
  flex-direction: column;
}

/* ITEM INFO */
.item-page-info {
  align-items: flex-start;
  display: flex;
  flex-direction: column;
  grid-area: 1 / 2 / 3 / 3;
  justify-content: flex-start;
}
.item-page-user-info, .item-page-item-info {
  width: 100%;
}
.item-page-user-info > div {
  align-items: center;
  display: flex;
  justify-content: flex-start;
}
.seller-options {
  display: flex;
  justify-content: space-between;
  gap: 5px;
  padding-bottom: 5px;
  border-bottom: 1px solid var(--black)
}
.seller-pic {
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  border-radius: 50%;
  height: 50px;
  margin-right: 10px;
  width: 50px;
}

.item-page-info button {
  border: 2px solid var(--no-color);
  border-radius: 100px;
  cursor: pointer;
  font-weight: bold;
  padding: 10px;
  width: 100%;
  transition: all 0.2s linear;
}

.seller-options button.item-delete {
  border-color: var(--red);
  background-color: var(--no-color);
  color: var(--black);
}
.seller-options button.item-edit {
  border-color: var(--yellow);
  background-color: var(--no-color);
  color: var(--black);
}
.item-page-info button.cart-add {
  border-color: var(--black);
  background-color: var(--black);
  color: var(--white);
}
.seller-options button.item-delete:hover {
  background-color: var(--red);
  border: 2px solid var(--red);
  color: var(--white);
}
.seller-options button.item-edit:hover {
  background-color: var(--yellow);
  border: 2px solid var(--yellow);
  color: var(--black);
}
.item-page-info button.cart-add:hover {
  background-color: var(--yellow);
  border: 2px solid var(--no-color);
  color: var(--black);
}

.delete-confirm {
  background-color: var(--true-white);
  border-radius: 10px;
  text-align: center;
  width: 300px
}
.delete-confirm p { padding: 10px }
.delete-confirm button {
  background-color: var(--no-color);
  border: 2px solid var(--no-color);
  border-radius: 0 0 10px 10px;
  border-top: 1px solid var(--black-op);
  cursor: pointer;
  padding: 10px;
  width: 100%;

}
.delete-confirm button:hover {
  background-color: var(--red-op);
  color: var(--true-white);
}