header {
  background-color: var(--black);
  color: var(--white);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  gap: 3px;
  padding: 10px 20%;
}
header > div {
  padding: 0 15px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}
header .options{
  width: auto;
  display: flex;
  gap: 5px;
  align-items: center;
  justify-content: space-between;
  border: 1px solid var(--no-color);
}
header a {
  text-decoration: none;
  color: var(--white);
}
header a:hover { color: var(--yellow) }

.login-signup {
  width: auto;
  display: flex;
  justify-content: space-around;
}
.login {
  font-weight: bold;
  padding-right: 10px;
  background-color: var(--no-color);
  border: none;
  color: var(--white);
  cursor: pointer;
}
.login:hover { color: var(--yellow) }
.signup {
  font-weight: bold;
  background-color: var(--yellow);
  color: var(--black);
  padding: 5px 10px;
  border: none;
  border-radius: 13px;
  cursor: pointer;
}
.signup:hover {
  background-color: var(--white);
  color: var(--black);
}
.userLink {
  background-color: var(--red);
  background-position: center;
  background-size: cover;
  border: 1px solid var(--no-color);
  border-radius: 50%;
  cursor: pointer;
  height: 40px;
  width: 40px;
  margin-left: 15px;
}
.userLink:hover {
  border: 1px solid var(--yellow);
}
.user-link-options {
  align-items: center;
  background-color: var(--true-white);
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  padding: 10px;
  width: 200px;
}
.user-link-options p {
  border-bottom: 1px solid var(--black-op);
  font-weight: bold;
  padding-bottom: 5px;
  text-align:center;
  width:100%;
}

/* SEARCH */
.search {
  background-color: var(--white);
  border-radius: 15px;
  color: var(--black);
  display: flex;
  align-items: center;
  justify-self: flex-start;
  width: 100%;
}
.search input {
  background-color: var(--no-color);
  border: none;
  width: 100%;
  padding: 5px;
}
.search input:focus {
  outline: none;
}
.popup-arrow { display: none }
.search-modal {
  background-color: var(--white);
  border-radius: 5px;
  min-width: 400px;
  padding: 5px;
  width: clamp(400px, 450px, 500px);
  margin-top: -5px;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 3px;
}
.search-match {
  padding: 5px;
  width: 100%;
  cursor: pointer;
}
.search-match:hover {
  background-color: #cccccc;
}

.about {
  align-items: center;
  background-color: var(--white);
  border-radius: 3px;
  display: flex;
  justify-content: space-evenly;
  margin-bottom: 5px;
  padding: 5px 0;
  width: 100%;
}
.about a {
  color: var(--black);
  text-decoration: none;
}
.about a:hover {
  color: var(--yellow);
}